body,
textarea,
input {
	font-size:13px;
	font-family: sans-serif;

}
.chat{
	max-width: 300px;
	background-color: beige;
}

.chat-messages,
.chat-textarea,
.chat-name{
	border: 1px solid black;
}
.chat-messages{
	height: 300px;
	overflow-y:scroll;

}
.chat-message{
	margin-bottom: 10px;
}
.chat-name{
	width: 100%;
	padding: 10px;
	border-bottom: 0;
	margin: 0;


}
.chat-textarea{
	width: 100%;
	padding: 10px;
	border-top: 0;
	margin: 0;
	max-width:100%;

}
